.component--tip-calculator .container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.component--tip-calculator .input-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.component--tip-calculator input,
.component--tip-calculator select,
.component--tip-calculator button {
    font-size: 1.6rem;
    padding: 0.4rem 1rem;
    text-align: center;
}

.component--tip-calculator button {
    border-radius: 0.6rem;
}

.component--tip-calculator .output p {
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (max-width: 50rem) {
    .component--tip-calculator .container {
        width: 90%;
        gap: 2.8rem;
    }

    .component--tip-calculator .input-container {
        gap: 1.2rem;
    }
}
