.component--date-counter .container {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.8rem;
}

.component--date-counter .container__btn {
    height: 2.8rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    font-size: inherit;
    border-radius: 0.6rem;
}

.component--date-counter .container__btn span {
    line-height: 1;
    font-size: 2rem;
}

.component--date-counter .output {
    font-weight: 500;
}
