.component--flashcards .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.component--flashcards .container {
    min-height: 18rem;
    padding: 2rem;
    display: grid;
    place-items: center;
    background-color: #41557d;
    border-radius: 2rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.component--flashcards .container.active {
    background-color: #8c3bca;
}

@media screen and (max-width: 500px) {
    .component--flashcards .grid-container {
        gap: 2rem;
    }
}
